menu: [
	label: "Packages"
	submenu: [
		label: "Project Jump"
		submenu: [
			{
				label: "Add"
				command: "project-jump:add"
			}
			{
				label: "Add Multiple"
				command: "project-jump:add-multiple"
			}
			{
				label: "Open"
				command: "project-jump:open"
			}
			{
				label: "Remove"
				command: "project-jump:remove"
			}
			{
				label: "Remove Multiple"
				command: "project-jump:remove-multiple"
			}
			{
				label: "Switch"
				command: "project-jump:switch"
			}
		]
	]
]
